<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta charset="utf-8" />
  <title>AutoBridge</title>
  <link href="{% static "img/AB-icons.png" %}" type="image/png" rel="shortcut icon">
  <link href="{% static "css/main.css" %}" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
    rel="stylesheet">
</head>

<body>
  <div class="page">
    <header>
      <nav class="nav-one">
        <ul>
          <li><a href="{% url "mainpage" %}">Главная</a></li>
          <li><a href="{% url "account" %}">Аккаунт</a></li>
          <li><a href="{% url "catalogdiplom" %}">Каталог</a></li>
          <li><a href="{% url "order" %}">Заявка</a></li>
        </ul>
      </nav>
      <nav class="nav-two">
        <ul>
          <li><a href="/logout">Выход</a></li>
        </ul>
      </nav>
    </header>

    <section>
      <div class="container-three">
        <div class="box-three">
          <h2>Заявка</h2>
          <div class="data">
            <div class="data-one">
              <h4>ФИО</h4>
              <h4>Почта</h4>
              <h4>Адрес</h4>
              <h4>Цена</h4>
              <h4>Страна</h4>
              <h4>Производитель</h4>
              <h4>Марка</h4>
              <h4>Двигатель</h4>
            </div>
            <div class="data-two">
              <h4>1</h4>
              <h4>2</h4>
              <h4>3</h4>
              <h4>4</h4>
              <h4>5</h4>
              <h4>6</h4>
              <h4>7</h4>
              <h4>8</h4>
            </div>
          </div>
        </div>
        <div class="box-four">
          <div class="order">
            <div class="info-order">
              <h5>Спасибо, что оформили заказ с помощью нашего сервиса!</h5>
              <p>Номер заказа 123456</p>
              <p>Для завершения оформления заказа с вами свяжется наш специалист по номеру +8 999 999 99 99<br />
                В случае возникновения проблем или вопросов по заказу звоните по номеру +8 999 999 99 99 <br />
              </p>
            </div>
          </div>
          <div class="car-photo-two">
            <img src="../img/cube.png" alt=" ">
          </div>
        </div>
      </div>
      <button class="section-button-order">Оформить</button>
    </section>
  </div>
</body>

</html>