<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta charset="utf-8" />
  <title>AutoBridge</title>
  <link href="{% static "img/AB-icons.png" %}" type="image/png" rel="shortcut icon">
  <link href="{% static "css/main.css" %}" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
    rel="stylesheet">
</head>

<body>
  <div class="page">
    <header>
      <nav class="nav-one">
        <ul>
          <li><a href="{% url "mainpage" %}">Главная</a></li>
          <li><a href="{% url "account" %}">Аккаунт</a></li>
          <li><a href="{% url "catalogdiplom" %}">Каталог</a></li>
          <li><a href="{% url "order" %}">Заявка</a></li>
        </ul>
      </nav>
      <nav class="nav-two">
        <ul>
          <li><a href="{% url "auth" %}">Вход</a></li>
          <li>|</li>
          <li><a href="{% url "register" %}">Регистрация</a></li>
        </ul>
      </nav>
    </header>
    <section class="container-two">
      <form class="form-reg">
        <h2>Регистрация</h2>
        <input type="text" min="3" max="60" placeholder="ФИО" required>
        <input type="email" min="2" max="60" placeholder="Почта" required>
        <input type="password" min="1" max="60" placeholder="Пароль" required>
        <input type="password" min="1" max="60" placeholder="Повторите пароль" required>
        <button>Зарегистрироваться</button>
      </form>
    </section>

  </div>
</body>

</html>