<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}"> 
</head>
<body>
    <header class="container">
        <nav class="header-nav">
            <ul class="header-nav-list">
                <li class="header-nav-list-item"><a href="{% url "index" %}">Главная</a></li>
                <li class="header-nav-list-item"><a href="{% url "catalog" %}">Дома</a></li>
                <li class="header-nav-list-item"><a href="{% url "apartcatalog" %}">Квартиры</a></li>
                <li class="header-nav-list-item"><a href="{% url "profile" %}">Профиль</a></li>
                <li class="header-nav-list-item"><input type="search" placeholder="Поиск" class="header-nav-list-item-search"></li>
            </ul>
        </nav>
    </header>
    <main>
        {% comment %} <form>
            <input type="text" placeholder="Nickname" name="nickname">
            <br>
            <input type="text" placeholder="mail" name="mail">
            <br>
            <input type="password" placeholder="password" name="password">
            <br>
            <input type="submit">
        </form> {% endcomment %}
        {% comment %} <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
            <a href="{% url 'register' %}">не зарегистрированы?</a>
          </form> {% endcomment %}
          <div class="login-container">
            <form method="post" action="{% url 'login' %}" class="login-form">
                {% csrf_token %}
                <h2>Вход</h2>
                <div class="form-group">
                    <label for="{{ form.username.id_for_label }}">Имя пользователя или телефон:</label>
                    {{ form.username }}
                </div>
                <div class="form-group">
                    <label for="{{ form.password.id_for_label }}">Пароль:</label>
                    {{ form.password }}
                </div>
                <button type="submit" class="btn-login">Войти</button>
                <a href="{% url 'register' %}" class="register-link">Не зарегистрированы?</a>
            </form>
        </div>
    </main>
</body>
</html>