<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}"> 
</head>
<body>
    <header class="container">
        <nav class="header-nav">
            <ul class="header-nav-list">
                <li class="header-nav-list-item"><a href="{% url "index" %}">Главная</a></li>
                <li class="header-nav-list-item"><a href="{% url "catalog" %}">Дома</a></li>
                <li class="header-nav-list-item"><a href="{% url "apartcatalog" %}">Квартиры</a></li>
                <li class="header-nav-list-item"><a href="{% url "profile" %}">Профиль</a></li>
                <li class="header-nav-list-item"><input type="search" placeholder="Поиск" class="header-nav-list-item-search"></li>
            </ul>
        </nav>
    </header>
    <main>
        <div id="welcome-block">
            <h2>Добро пожаловать, {{ request.user.username }}!</h2>
            <p>Телефон: +78005553535</p>
            <p>Email: {{ request.user.email }}</p>
            <!-- Другие данные о пользователе -->
            <a id="login-link" href="{% url 'logout' %}">Выйти</a>
        </div>
        <div>
            <h1 class="zagolovok">Ваши заявки</h1>
            {% for app in apps %}
            <div class="zayavki">
                <div>Номер заявки: {{ app.ApplicationID }}</div>
                <div>Адрес: {{ app.ApartmentID.HouseID.AdressID.AdressText }}</div>
                <div>Номер квартиры: {{ app.ApartmentID.ApartmentNumber }}</div>
                <div>Статус: рассматривается</div>
            </div>
            {% endfor %} 
        </div>
    </main>
</body>
</html>