.form-reg,
.form-auth {
  h2 {
    color: $color-h2-fonts-one;
  }
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 670px;
  height: 640px;
  border-radius: 55px;
  input {
    width: 500px;
    height: 60px;
    border: none;
    background-color: $color-bg-input;
    border-radius: 55px;
    font-size: 25px;
    font-weight: 600;
    color: $color-input-fonts;
    margin-bottom: 20px;
    padding-left: 20px;
  }
  input::placeholder {
    color: $color-form-placeholder;
  }
  button {
    background-color: $color-button-two;
    color: $color-button-fonts-one;
    border: none;
  }
}

.form-auth {
  background-color: $color-form-block-one;
  h2 {
    margin-top: 100px;
    margin-bottom: 50px;
  }
  input {
    margin-bottom: 40px;
  }
}

.form-reg {
  background-color: $color-form-block-two;
  h2 {
    margin-top: 60px;
    margin-bottom: 20px;
  }
}

.form-data {
  margin-top: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
  input {
    width: 500px;
    height: 60px;
    border: none;
    background-color: $color-bg-input-single;
    border-radius: 2px;
    font-size: 25px;
    font-weight: 600;
    color: $color-input-fonts;
    margin-bottom: 20px;
    padding-left: 20px;
  }
  input::placeholder {
    color: $color-form-placeholder;
  }
}
