//base
$color-bg-page: #ffffff;
$color-bg-header: #000000;
$color-bg-box-one: #880000;
$color-bg-box-two: #ffffff;
$color-bg-box-three: #808080;
$color-bg-single-container: #880000;
$color-border-photo: white;
$color-p: white;
$color-info-car: #808080;

//forms
$color-form-block-one: #ffffff;
$color-form-block-two: #ffffff;
$color-form-placeholder: #ffffff;
$color-bg-input: #808080;
$color-bg-input-single: white;

$color-bg-search-button-input: #808080;
$color-bg-search-fonts: white;

$color-select-one: #808080;
$color-select-two-font: white;
$color-h5-filter-one: white;
$color-h5-filter-two: white;
// text
$color-a-fonts: #ffffff;
$color-h2-fonts-one: #880000;
$color-h2-fonts-two: white;
$color-h1-h3-fonts: white;
$color-input-fonts: white;
$color-date-one: #880000;
$color-date-two: #880000;

//button
$color-button-one: white;
$color-button-two: #880000;
$color-button-fonts-one: white;
$color-button-fonts-two: #880000;
$color-button-border-one: #000000;
$color-button-border-two: #880000;
