* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.page {
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
  overflow-x: hidden;
}

section {
  width: 100%;
}

button {
  padding: 6px 35px;
  font-size: 35px;
  border-radius: 15px;
  cursor: pointer;
}

ul li {
  list-style-type: none;
}
ul li a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

h1 {
  font-size: 64px;
  font-weight: 600;
}

h2 {
  font-size: 48px;
  font-weight: 600;
}

h3 {
  font-size: 40px;
  font-weight: 500;
}

h4 {
  font-size: 32px;
  font-weight: 500;
}

h5 {
  font-size: 28px;
  font-weight: 400;
}

h6 {
  font-size: 20px;
}

p {
  font-size: 18px;
}

a {
  font-size: 24px;
  color: #ffffff;
}

header {
  display: flex;
  justify-content: space-around;
  background-color: #000000;
  width: 100vw;
  height: 70px;
  margin-bottom: 60px;
}

.nav-one {
  width: -moz-fit-content;
  width: fit-content;
}
.nav-one ul {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}
.nav-one ul li {
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 70px;
  font-weight: 500;
}

.nav-two {
  width: -moz-fit-content;
  width: fit-content;
}
.nav-two ul {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}
.nav-two ul li {
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 5px;
  color: #ffffff;
  font-weight: 500;
}

.box-one {
  display: flex;
  flex-direction: column;
  border-radius: 0 55px 55px 0;
  align-items: center;
  height: 100%;
  width: 50%;
  background-color: #880000;
}
.box-one h1,
.box-one h3 {
  color: white;
  text-align: center;
}
.box-one h1 {
  margin-top: 100px;
  margin-bottom: 30px;
}

.box-two {
  height: 100%;
  width: 50%;
  background-color: #ffffff;
}
.box-two .main-box {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: none;
  border-radius: 15px 0 0 15px;
}
.box-two .box-content-two {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #880000;
  border-radius: 15px 0 0 15px;
}
.box-two .car-photo {
  margin-top: 50px;
  width: 750px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 5px solid white;
}
.box-two .img-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  height: 600px;
}
.box-two img {
  width: 100%;
  height: auto;
}

.box-three {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 50%;
  background-color: #ffffff;
}
.box-three .data {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}
.box-three .data .data-one {
  height: 100%;
  color: #880000;
}
.box-three .data .data-two {
  margin-left: 40px;
  width: -moz-fit-content;
  width: fit-content;
  color: #880000;
}
.box-three .data h4 {
  margin-bottom: 10px;
}
.box-three h2 {
  margin-top: 60px;
  margin-bottom: 50px;
  color: #880000;
  text-align: center;
}

.box-four {
  height: 100%;
  min-height: 700px;
  width: 50%;
  border-radius: 15px 0 0 15px;
  background-color: #880000;
}
.box-four form input {
  background-color: #808080;
  border-radius: 55px;
}
.box-four form input:hover {
  background-color: #ffffff;
  color: #000000;
}
.box-four h2 {
  margin-top: 60px;
  color: white;
  text-align: center;
}
.box-four .car-photo-two {
  margin-top: 0;
  width: 100%;
  height: 450px;
}
.box-four .car-photo-two img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.container-one {
  display: flex;
  width: 100%;
  height: 700px;
}

.container-two {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 700px;
  background-color: #880000;
}

.container-three {
  display: flex;
  width: 100%;
  height: 700px;
}

.section-button {
  position: sticky;
  left: 43.5%;
  margin-top: -50px;
  bottom: 0%;
  background-color: #880000;
  color: white;
  border: none;
  font-weight: 600;
}

.form-reg,
.form-auth {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 670px;
  height: 640px;
  border-radius: 55px;
}
.form-reg h2,
.form-auth h2 {
  color: #880000;
}
.form-reg input,
.form-auth input {
  width: 500px;
  height: 60px;
  border: none;
  background-color: #808080;
  border-radius: 55px;
  font-size: 25px;
  font-weight: 600;
  color: white;
  margin-bottom: 20px;
  padding-left: 20px;
}
.form-reg input::-moz-placeholder, .form-auth input::-moz-placeholder {
  color: #ffffff;
}
.form-reg input::placeholder,
.form-auth input::placeholder {
  color: #ffffff;
}
.form-reg button,
.form-auth button {
  background-color: #880000;
  color: white;
  border: none;
}

.form-auth {
  background-color: #ffffff;
}
.form-auth h2 {
  margin-top: 100px;
  margin-bottom: 50px;
}
.form-auth input {
  margin-bottom: 40px;
}

.form-reg {
  background-color: #ffffff;
}
.form-reg h2 {
  margin-top: 60px;
  margin-bottom: 20px;
}

.form-data {
  margin-top: 60px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.form-data input {
  width: 500px;
  height: 60px;
  border: none;
  background-color: white;
  border-radius: 2px;
  font-size: 25px;
  font-weight: 600;
  color: white;
  margin-bottom: 20px;
  padding-left: 20px;
}
.form-data input::-moz-placeholder {
  color: #ffffff;
}
.form-data input::placeholder {
  color: #ffffff;
}

.container-catalog {
  display: flex;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 750px;
  background-color: #880000;
}
.container-catalog .bg-catalog {
  background-color: white;
}
.container-catalog .search-block {
  display: flex;
  margin: 15px;
  justify-content: center;
  margin-left: 40px;
}
.container-catalog .search-block input {
  width: 1135px;
  height: 60px;
  border-radius: 55px;
  border: none;
  color: white;
  padding-left: 20px;
  font-size: 20px;
  background-color: #808080;
}
.container-catalog .search-block input::-moz-placeholder {
  color: white;
}
.container-catalog .search-block input::placeholder {
  color: white;
}
.container-catalog .search-block button {
  margin-left: 30px;
  height: 60px;
  border-radius: 2px;
  border: none;
  color: white;
  font-size: 25px;
  border-radius: 15px;
  background-color: #880000;
}
.container-catalog .search-block button:hover {
  color: white;
  background-color: #808080;
}
.container-catalog .search-block button:active {
  color: white;
  background-color: #880000;
}

.filter-block {
  display: flex;
  flex-direction: column;
  color: white;
  width: 400px;
  border-radius: 0 10px 10px 0;
  background-color: #880000;
}
.filter-block h3 {
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 15px;
}
.filter-block form {
  margin-left: 35px;
}
.filter-block .filter-radio-list {
  margin-bottom: 10px;
}
.filter-block .filter-radio-list div {
  margin-bottom: 5px;
}
.filter-block .filter-radio-list input[type=radio],
.filter-block .filter-radio-list label {
  cursor: pointer;
  font-size: 20px;
  color: white;
}
.filter-block select,
.filter-block option {
  font-size: 18px;
  font-weight: 600;
}
.filter-block select {
  border: none;
  border-radius: 7px;
  color: white;
  background-color: #808080;
  margin-top: 5px;
  margin-bottom: 10px;
}
.filter-block input[type=number] {
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 7px;
  color: white;
  background-color: #808080;
  margin-top: 5px;
  margin-bottom: 10px;
}
.filter-block button {
  font-size: 30px;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  background-color: white;
  color: #880000;
  border: none;
  margin-bottom: 20px;
}
.filter-block button:hover {
  color: white;
  background-color: #808080;
}
.filter-block button:active {
  color: #880000;
  background-color: white;
}

.cars-block {
  margin-top: 40px;
  margin-left: 40px;
  width: 1380px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}
.cars-block .element-car {
  margin-right: 40px;
  width: 300px;
  height: 450px;
}
.cars-block .element-car .info-car {
  display: flex;
  flex-direction: column;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 80px;
  max-height: 100px;
  margin-top: 10px;
  padding: 5px;
  border-radius: 10px;
  background-color: #808080;
}
.cars-block .element-car .info-car p {
  font-size: 16px;
  font-weight: 500;
  color: white;
}
.cars-block .element-car img {
  width: 300px;
  height: 300px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.pages-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 500px;
  margin: 0 auto;
}
.pages-list a {
  color: #000000;
  font-size: 30px;
  font-weight: 600;
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 10px;
}

.order {
  visibility: hidden;
}

.order {
  display: flex;
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
  height: 150px;
  margin-bottom: 20px;
  background-color: #880000;
}
.order .info-order {
  width: 100%;
  padding: 5px;
  border-radius: 2px;
  color: #880000;
  background-color: #ffffff;
}
.order .info-order p {
  margin-top: 5px;
  font-size: 18px;
}

.section-button-order {
  position: sticky;
  left: 43.5%;
  margin-top: -50px;
  bottom: 0%;
  background-color: #880000;
  color: white;
  border: none;
  font-weight: 600;
}

nav a:hover {
  background-color: #880000;
  color: #ffffff;
  border-radius: 2px;
  padding: 3px 3px;
  margin: -3px -3px;
  transition: background-color 1s;
}

nav a:active {
  background-color: #ffffff;
  color: #880000;
  border-radius: 2px;
  padding: 3px 3px;
  margin: -3px -3px;
}

button:hover {
  background-color: #ffffff;
  color: #880000;
  transition: background-color 0.7s;
}

button:active {
  background-color: #880000;
  color: #ffffff;
}

input:hover {
  background-color: #880000;
  color: #ffffff;
  transition: background-color 0.3s;
}

.pages-list a:hover {
  color: #880000;
  transition: color 0.3s;
}

.pages-list a:active {
  color: #000000;
}

.element-car img:hover {
  transition: transform 0.5s;
  transform: scale(1.07);
}/*# sourceMappingURL=main.css.map */