<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}"> 
    <script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.5.0/model-viewer.min.js"></script>
</head>
<body>
    <header class="container">
        <nav class="header-nav">
            <ul class="header-nav-list">
                <li class="header-nav-list-item"><a href="{% url "index" %}">Главная</a></li>
                <li class="header-nav-list-item"><a href="{% url "catalog" %}">Дома</a></li>
                <li class="header-nav-list-item"><a href="{% url "apartcatalog" %}">Квартиры</a></li>
                <li class="header-nav-list-item"><a href="{% url "profile" %}">Профиль</a></li>
                <li class="header-nav-list-item"><input type="search" placeholder="Поиск" class="header-nav-list-item-search"></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="house-div">
            <img class="house-image" src="{{ apartment.Image.url }}">
            <div class="house-info">
                <div>Квартира номер: {{ apartment.ApartmentNumber }}</div>
                <div>Число комнат: {{ apartment.NumberOfRooms }}</div>
                <div>Площадь: {{ apartment.Area }} </div>
                <div>Цена: {{ apartment.Cost }} рублей</div>
                <form>
                    <!-- <input type="phone" placeholder="номер телефона" class="phone"> -->
                    {% if user.is_authenticated %}
                    <a href="{% url 'create' apartment_id=apartment.ID %}" class="send">ОТПРАВИТЬ ЗАЯВКУ</a>
                    {% endif %}    
                </form>
            </div>
        </div>
        <br>
        <h1 class="zagolovok">Калькулятор цены ипотеки</h1>
        <section class="calculator">           
            <div class="calculator-div">
                <input type="number" placeholder="Сумма" value="6067577">
                <input type="number" placeholder="Процент" value="8">
                <input type="number" placeholder="Годы" value="30">
            </div>
            <div class="calculator-div calculator-result">
                <div>Ежемесячный платеж <br> <span class="calculator-result-text">31165 ₽</span></div>
                <div>Первоначальный взнос <br><span class="calculator-result-text">1820273 ₽</span></div>
                <div>Переплата <br><span class="calculator-result-text">6 972 096</span></div>
            </div>
        </section>
        <h1 class="zagolovok">3D модель</h1>
        <div class="d3"> 
            <model-viewer src="{{ apartment.Model3D.url}}" ar ar-modes="webxr scene-viewer quick-look" camera-controls tone-mapping="neutral" poster="poster.webp" shadow-intensity="1" camera-orbit="42.89deg 78.06deg 24.12m" field-of-view="20.11deg">
                <div class="progress-bar hide" slot="progress-bar">
                    <div class="update-bar"></div>
                </div>
                <button slot="ar-button" id="ar-button">
                    View in your space
                </button>
                <div id="ar-prompt">
                    <img src="https://modelviewer.dev/shared-assets/icons/hand.png">
                </div>
            </model-viewer>
        </div>
        
    </main>
</body>
</html>