<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}"> 
</head>
<body>
    <header class="container">
        <nav class="header-nav">
            <ul class="header-nav-list">
                <li class="header-nav-list-item"><a href="{% url "index" %}">Главная</a></li>
                <li class="header-nav-list-item"><a href="{% url "catalog" %}">Дома</a></li>
                <li class="header-nav-list-item"><a href="{% url "profile" %}">Профиль</a></li>
                <li class="header-nav-list-item"><input type="search" placeholder="Поиск" class="header-nav-list-item-search"></li>
            </ul>
        </nav>
    </header>
    <main>
        {% comment %} <div class="house-div">
            <img class="house-image" src="{{ apartment.Image.url }}">
            <div class="house-info">
                <div>Квартира номер:{{ apartment.ApartmentNumber }}</div>
                <div>Число комнат:{{ apartment.NumberOfRooms }}</div>
                <div>Цена:{{ apartment.Cost }} рублей</div>
                <form>
                    <input type="phone" placeholder="номер телефона" class="phone">
                    <input type="submit" placeholder="отправить заявку" value="Отправить заявку" class="submit">
                </form>
            </div>
        </div> {% endcomment %}
        <div class="appart-list">
            <table class="tablica">
                <tr>
                    <td>Адрес</td>
                    <td>Количество этажей</td>
                    <td>Количество подъездов</td>
                </tr>
                {% for house in houses %}
                <tr>
                    <td><a href="{% url 'house' house_id=house.ID %}" class="hata">{{ house.AdressID.AdressText }}</a></td>
                    <td>{{ house.NumberOfFloors }}</td>
                    <td>{{ house.NumberOfEntrances }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </main>
</body>
</html>