<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}"> 
</head>
<body>
    <header class="container">
        <nav class="header-nav">
            <ul class="header-nav-list">
                <li class="header-nav-list-item"><a href="{% url "index" %}">Главная</a></li>
                <li class="header-nav-list-item"><a href="{% url "catalog" %}">Дома</a></li>
                <li class="header-nav-list-item"><a href="{% url "profile" %}">Профиль</a></li>
                <li class="header-nav-list-item"><input type="search" placeholder="Поиск" class="header-nav-list-item-search"></li>
            </ul>
        </nav>
    </header>
    <main>
        {% comment %} <div class="house-div">
            <img class="house-image" src="{{ apartment.Image.url }}">
            <div class="house-info">
                <div>Квартира номер:{{ apartment.ApartmentNumber }}</div>
                <div>Число комнат:{{ apartment.NumberOfRooms }}</div>
                <div>Цена:{{ apartment.Cost }} рублей</div>
                <form>
                    <input type="phone" placeholder="номер телефона" class="phone">
                    <input type="submit" placeholder="отправить заявку" value="Отправить заявку" class="submit">
                </form>
            </div>
        </div> {% endcomment %}
        <div class="catalog">
             {% for house in houses %}
            {% if forloop.counter0|divisibleby:4 %}
                <div class="catalog-row">
            {% endif %}

            <div class="catalog-item">
                <div class="catalog-img">
                    <img src="{{ house.Image.url }}" alt="House Image">
                </div>
                <div class="catalog-item-description">
                    <div class="boldtextprice">{{ house.AdressID.AdressText }}</div>
                    <div class="descritem">{{ house.NumberOfFloors }} этажей</div>
                    <div class="descritem">{{ house.NumberOfEntrances }} подъезда</div>
                </div>
            </div>

            {% if forloop.counter|divisibleby:4 or forloop.last %}
                </div>
            {% endif %}
        {% endfor %} 
        {% comment %} <div class="catalog-row">
            <div class="catalog-item">
                <div class="catalog-img">
                    <img src="https://cdn.fishki.net/upload/post/2021/11/28/4013894/34b28c17fca6a072d77e1890d51439c4.jpg">
                </div>
                <div class="catalog-item-description">
                    <div class="boldtextprice">Улица пушкина дом колотушкина епта</div>
                    <div class="descritem">8 этажей</div>
                    <div class="descritem">2 падика</div>
                    <div class="descritem">30 свободных халуп</div>
                </div>
            </div>
            <div class="catalog-item">
                <div class="catalog-img">
                    <img src="https://cdn.fishki.net/upload/post/2021/11/28/4013894/34b28c17fca6a072d77e1890d51439c4.jpg">
                </div>
                <div class="catalog-item-description">
                    <div class="boldtextprice">Улица пушкина дом колотушкина епта</div>
                    <div class="descritem">8 этажей</div>
                    <div class="descritem">2 падика</div>
                    <div class="descritem">30 свободных халуп</div>
                </div>
            </div>
            <div class="catalog-item">
                <div class="catalog-img">
                    <img src="https://cdn.fishki.net/upload/post/2021/11/28/4013894/34b28c17fca6a072d77e1890d51439c4.jpg">
                </div>
                <div class="catalog-item-description">
                    <div class="boldtextprice">Улица пушкина дом колотушкина епта</div>
                    <div class="descritem">8 этажей</div>
                    <div class="descritem">2 падика</div>
                    <div class="descritem">30 свободных халуп</div>
                </div>
            </div>
            <div class="catalog-item">
                <div class="catalog-img">
                    <img src="https://cdn.fishki.net/upload/post/2021/11/28/4013894/34b28c17fca6a072d77e1890d51439c4.jpg">
                </div>
                <div class="catalog-item-description">
                    <div class="boldtextprice">Улица пушкина дом колотушкина епта</div>
                    <div class="descritem">8 этажей</div>
                    <div class="descritem">2 падика</div>
                    <div class="descritem">30 свободных халуп</div>
                </div>
            </div>
        </div> {% endcomment %}
        </div>
        <div class="appart-list">            
            <table class="tablica">
                <tr>
                    <td>Адрес</td>
                    <td>Количество этажей</td>
                    <td>Количество подъездов</td>
                </tr>
                {% for house in houses %}
                <tr>
                    <td><a href="{% url 'house' house_id=house.ID %}" class="hata">{{ house.AdressID.AdressText }}</a></td>
                    <td>{{ house.NumberOfFloors }}</td>
                    <td>{{ house.NumberOfEntrances }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </main>
</body>
</html>