<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/style.css" %}"> 
</head>
<body>
    <header class="container">
        <nav class="header-nav">
            <ul class="header-nav-list">
                <li class="header-nav-list-item"><a href="{% url "index" %}">Главная</a></li>
                <li class="header-nav-list-item"><a href="{% url "catalog" %}">Дома</a></li>
                <li class="header-nav-list-item"><a href="{% url "apartcatalog" %}">Квартиры</a></li>
                <li class="header-nav-list-item"><a href="{% url "profile" %}">Профиль</a></li>
                <li class="header-nav-list-item"><input type="search" placeholder="Поиск" class="header-nav-list-item-search"></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <div class="house-div">
                <img class="house-image" src="{{ house.Image.url }}">
                <div class="house-info">
                    <div>{{ house.AdressID.AdressText }}</div>
                    <div>Число этажей:{{ house.NumberOfFloors }}</div>
                    <div>Количество подъездов:{{ house.NumberOfEntrances }}</div>
                </div>
            </div>
            <div class="filter filterotstup"> 
                <select>
                    <option>Студия</option>
                    <option>1 комната</option>
                    <option>2 комнаты</option>
                </select>
                <input type="text" placeholder="Мин. цена">
                <input type="text" placeholder="Макс. цена">
                <input type="text" placeholder="Мин. площадь">
                <input type="text" placeholder="Макс. площадь">
            </div>
            <div class="catalog otstup">
                {% for apartment in apartments %}
               {% if forloop.counter0|divisibleby:4 %}
                   <div class="catalog-row">
               {% endif %}
               
               <a class="catalog2-item" href="{% url 'apartment' apartment_id=apartment.ID %}">
                   <div class="catalog2-img">
                       <img src="{{ apartment.Image.url }}" alt="House Image">
                   </div>
                   <div class="catalog2-item-description">
                       {% comment %} <div class="boldtextprice">{{ house.AdressID.AdressText }}</div> {% endcomment %}
                       <div class="descritem">Номер квартиры: {{ apartment.ApartmentNumber }} </div>
                       <div class="descritem">Число комнат: {{ apartment.NumberOfRooms }} </div>
                       <div class="descritem">Цена: {{ apartment.Cost }} </div>
                   </div>
               </a>
   
               {% if forloop.counter|divisibleby:4 or forloop.last %}
                   </div>
               {% endif %}
           {% endfor %} 
           </div>
            {% comment %} <div class="appart-list">
                <table>
                    <tr>
                        <td>Номер квартиры</td>
                        <td>Количество комнат</td>
                        <td>Цена</td>
                    </tr>
                    {% for apartment in apartments %}
                    <tr>
                        <td><a href="{% url 'apartment' apartment_id=apartment.ID %}" class="hata">{{ apartment.ApartmentNumber }}</a></td>
                        <td>{{ apartment.NumberOfRooms }}</td>
                        <td>{{ apartment.Cost }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div> {% endcomment %}
        </section>
    </main>
</body>
</html>